<div class="bg-base-200 dark:bg-slate-600 text-white">

  <div class="flex justify-center items-center h-screen">
    <div class="text-center space-y-6">
      <h1 class="text-6xl font-extrabold text-accent">Houston, tenemos un problema</h1>
      <p class="text-xl text-gray-500 dark:text-gray-300">
        Parece que hemos perdido el rumbo en el espacio.<br> La página que buscas ha desaparecido en el vacío. ¡No te preocupes, aún podemos volver a la Tierra!
      </p>
      
      <img src="assets/not-found.jpg" alt="Astronauta perdido" class="mx-auto mb-6 rounded-full min-w-72 h-72">
      <div class="space-x-4">
        <button onclick="window.location.href='/'" class="btn bg-base-200 btn-outline">Volver a casa</button>
        <button onclick="window.history.back()" class="btn text-white btn-outline">Regresar a la nave</button>
      </div>
    </div>
  </div>

</div>
